
body {
 	background: #F4F4F4;
}
.Cabecalho{
	background: linear-gradient(to bottom, #99ccff 0%, #cc00cc 100%);
	width: 100%;
	height:  150px;
	padding: 15px 0;
	color: #fff;
	text-align: center;
}
.Menu{

	width:100%;
	color: black;
	padding: 0px;
	text-align: center;
	margin: 0px;
}

nav ul li{

	display: inline-block;
	padding: 20px;
}

nav ul li a:hover{
	color: #E52329;
}
.esquerda {float: left;}
.direita {float: right;}
.fonte{
	color: black;
}
.menu-icon{

	width: 100%;
	background: #005c48;
	text-align: left;
	box-sizing: border-box;
	padding: 15px 10px;
	cursor: pointer;
	color: #fff;
	display: none;
	text-align: right;
}
.Pagina{

	border-radius: 12px;
	background-color: white;
	box-shadow: 0px 5px 5px rgba(1,0,0,0.1);
	margin:  30px auto 0px auto;
	padding: 10px;
	border-radius: 9px;
	width: 1000px;
}

.Corpo_Central{

	border-width: 2px;
  border-style: dashed;
  border-color: #C0C0C0;
	color: black;
	background-color: #fff;
	width: 650px;
	padding: 5px;
	margin: 5px;
}

.post{

	border-width: medium;
  border-style: solid;
  border-color: #E5E5E5;
	margin:  5px;
	color: #9FE12D;
	background: #1C1917;
	width: 650px;
	height: 30px;
	padding: 5px;
}



.Link{

 	text-decoration:none;
 	color: #E52329;
}
